body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#calendario {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

h1, h2 {
    text-align: center;
}

#fechas {
    text-align: center;
}

.fecha {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.fecha:hover {
    background-color: #0056b3;
}

#horas {
    display: flex;
    flex-wrap: wrap;
}

.hora {
    margin: 5px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hora:hover {
    background-color: #218838;
}

#reservas {
    margin-top: 20px;
}

#lista-reservas {
    list-style-type: none;
    padding: 0;
}

.reserva {
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #ffc107;
    border-radius: 5px;
}
